<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>This is the help page for the Smart Vending Application</p>
<p>
  Get help at 
  <a href="https://www.iapsmartvending.com:8651/doc/smartvending.usermanual.pdf">Smart Vending Tutorial</a>.
</p>
