<!-- <%= javascript_include_tag "http://code.highcharts.com/highcharts.js", "chartkick" %> -->
<!-- <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %> -->
<div class="page-header">
<h2>Solar Energy Produced and Consumed</h2>
</div>
<div class="row-fluid">
    <div class="span12">
     <p>
        <%= line_chart @resp['series'].map{|series| 
                       {name: series, data: @resp['datos'][series] } }  %>
     </p>
    </div><!--/span-->
</div>

