<header>
  <div class="container">    
    <div class="navbar navbar-fluid-top navbar-inner container-fluid">
          <a class="brand" href=<%= root_path %>><img src="/assets/iap_smartvending_logo.gif"></a>
          <div class="container-fluid nav-collapse">
            <ul class="nav pull-right">
              <li><a class="btn" href="/path2"><i class="fa fa-file-o"></i> Profile</a></li>
              <li><a class="btn" href=<%= help_path %>><i class="fa fa-trash-o"></i> Help</a></li>
              <li><a class="btn" href="/path3"><i class="fa fa-spinner fa-spin"></i> Sign In</a></li>
            </ul>
          </div><!--/.nav-collapse -->
    </div>
  </div>
</header>
